@import "../Ritm_src/scss/CSS-reset.scss";
@import "../Ritm_src/scss/header-bright.scss";

.block1, .block3, .block4, .block5{
    .container{min-height: 100vh;}
}

.block1, .block2, .block3, .block4, .block5{background-color: rgb(243, 243, 245);}

.block1, .block2{
    .container{
        will-change: transform;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.block1{
    .container{
        padding: 0 20px;
        flex-direction: column;
        p{
            font-family: "Inter-Medium";
            font-size: 24px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: rgb(38, 38, 38);
            animation: megaLightTitle 2s ease 1.3s forwards;
        }
        h1{
            font-family: "Inter-Light";
            font-size: 230px;
            line-height: 110%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            animation: megaLightTitle 2s ease 0.3s forwards;
            color: rgb(5, 15, 32);
            margin-top: 10px;
            span{
                font-family: "Inter-Medium";
            }
        }
        p, h1{opacity: 0;}
        @keyframes megaLightTitle{
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
    }
}

.block2{
    .container{
        height: 100vh;
        position: relative;
        z-index: 1;
        .block2__fixed-elem{
            width: 66.192%;
            display: grid;
            opacity: 0;
            picture{
                grid-row: 1/2;
                grid-column: 1/2;
                img{width: 100%;}
                @media(min-width: 540px) and (orientation: portrait), (orientation: landscape){
                    img{will-change: transform;}
                }
            }
        }
        @media(max-width: 539.9px) and (orientation: portrait){
            .block2__fixed-elem{will-change: transform;}
        }
    }
}

.block3{
    .container{
        padding: 0 20px;
        display: grid;
        text-align: center;
        p:first-child{align-self: end;}
        p:last-child{align-self: center;}
        p{
            font-family: "Inter-SemiBold";
            font-size: 50px;
            line-height: 110%;
            color: rgb(5, 15, 32);
            span{color: rgb(96, 199, 231);}
        }
    }
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(5, 15, 32);
}

.block4{
    .container{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        align-items: center;
        .block4__left{z-index: 1;}
        .block4__left, .block4__right{
            padding: 0 150px;
            grid-row: 2/3;
            text-align: center;
            .ml-name{
                font-family: "Inter-Medium";
                font-size: 50px;
                line-height: 110%;
            }
            .ml-specification{
                margin: 20px 0 30px 0;
                font-family: "Inter-Medium";
                line-height: 150%;
                letter-spacing: 0.01em;
            }
            .ml-characteristics{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                div{
                    padding: 8px 13px;
                    margin: 5px;
                    border-radius: 52px;
                    display: flex;
                    align-items: center;
                    svg{
                        height: 20px;
                        margin-right: 11px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 120%;
                    }
                }
            }
        }
        .block4__left{
            color: rgb(243, 243, 245);
            .ml-characteristics{
                div{
                    border: 1px solid rgb(243, 243, 245);
                    svg{
                        path{fill: rgb(243, 243, 245);}
                    }
                }
            }
        }
        .block4__right{
            .ml-name{color: rgb(37, 37, 37);}
            .ml-specification{color: rgb(79, 79, 79);}
            .ml-characteristics{
                div{
                    border: 1px solid rgb(5, 15, 32);
                    p{color: rgb(5, 15, 32);}
                }
            }
        }
    }
}

.block5{
    .container{
        padding: 90px 90px 90px 150px;
        display: flex;
        justify-content: space-between;
        .block5__block5-text{
            flex: 0 1 47.343%;
            display: flex;
            flex-direction: column;
            .block5-text__text{
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    font-family: "Inter-SemiBold";
                    font-size: 64px;
                    line-height: 110%;
                    color: rgba(5, 15, 32);
                }
                p{
                    font-family: "Inter-Medium";
                    font-size: 18px;
                    line-height: 170%;
                    margin: 75px 0 34px 0;
                    color: rgb(37, 37, 37);
                    max-width: 465px;
                }
                button{
                    width: 232px;
                    height: 56px;
                    font-family: "Inter-Medium";
                    font-size: 18px;
                    background-color: black;
                }
                @media(hover: hover) and (pointer: fine){
                    button{transform: translate3d(0, 0, 0);}
                    button:hover{background-color: rgb(0, 80, 80);}
                }
            }
            .block5-text__text2{
                font-family: "Inter-Medium";
                font-size: 14px;
                color: rgb(37, 37, 37);
                line-height: 150%;
            }
        }
        .block5__img{
            align-self: flex-end;
            flex: 0 1 30.1933%;
            display: grid;
            picture{
                grid-row: 1/2;
                grid-column: 1/2;
                img{width: 100%;}
                .block5__mega-light{will-change: transform;}
                .block5__mega-light433{position: relative;}
            }
        }
    }
}

@media(orientation: landscape){
    .block5{
        .container{
            .block5__block5-text{
                .block5-text__text{margin: 30px 0;}
            }
        }
    }
}

@media(max-width: 1895.9px) and (min-width: 321px){
    .block1{
        .container{
            p{font-size: calc(14px + (24 - 14) * ((100vw - 321px) / (1895 - 321)));}
            h1{font-size: calc(38px + (230 - 38) * ((100vw - 321px) / (1895 - 321)));}
        }
    }
    .block3{
        .container{
            p{font-size: calc(19px + (50 - 19) * ((100vw - 321px) / (1895 - 321)));}
        }
    }
}

@media(max-width: 1895.9px) and (min-width: 769px){
    .block5{
        .container{
            .block5__block5-text{
                .block5-text__text{
                    h2{font-size: calc(42px + (64 - 42) * ((100vw - 769px) / (1895 - 769)));}
                    p{
                        font-size: calc(14px + (18 - 14) * ((100vw - 769px) / (1895 - 769)));
                        margin: calc(21px + (75 - 21) * ((100vw - 769px) / (1895 - 769))) 0
                                calc(25px + (34 - 25) * ((100vw - 769px) / (1895 - 769))) 0;
                        max-width: calc(362px + (465 - 362) * ((100vw - 769px) / (1895 - 769)));
                    }
                    button{
                        width: calc(179px + (232 - 179) * ((100vw - 769px) / (1895 - 769)));
                        height: calc(45px + (56 - 45) * ((100vw - 769px) / (1895 - 769)));
                        font-size: calc(14px + (18 - 14) * ((100vw - 769px) / (1895 - 769)));
                    }
                }
            }
        }
    }
}

@media(max-width: 1895.9px) and (min-width: 1025px){
    .block4{
        .container{
            .block4__left, .block4__right{
                padding: 0 calc(20px + (150 - 20) * ((100vw - 1025px) / (1895 - 1025)));
                .ml-name{font-size: calc(30px + (50 - 30) * ((100vw - 1025px) / (1895 - 1025)));}
                .ml-specification{
                    font-size: calc(14px + (16 - 14) * ((100vw - 1025px) / (1895 - 1025)));
                    margin: calc(15px + (20 - 15) * ((100vw - 1025px) / (1895 - 1025))) 0 
                            calc(18px + (30 - 18) * ((100vw - 1025px) / (1895 - 1025))) 0;
                }
                .ml-characteristics{
                    div{
                        p{font-size: calc(10px + (14 - 10) * ((100vw - 1025px) / (1895 - 1025)));}
                    }
                }
            }
        }
    }
    .block5{
        .container{
            padding: calc(42px + (90 - 42) * ((100vw - 1025px) / (1895 - 1025)))
                     calc(42px + (90 - 42) * ((100vw - 1025px) / (1895 - 1025)))
                     calc(42px + (90 - 42) * ((100vw - 1025px) / (1895 - 1025)))
                     calc(70px + (150 - 70) * ((100vw - 1025px) / (1895 - 1025)));
        }
    }
}

@media(max-width: 1024.9px){
    .block4{
        .container{
            .block4__left, .block4__right{
                padding: 0 20px;
                .ml-name{font-size: 30px;}
                .ml-specification{
                    font-size: 14px;
                    margin: 15px 0 18px 0;
                }
                .ml-characteristics{
                    div{
                        p{font-size: 10px;}
                    }
                }
            }
        }
    }
    .block5{
        .container{
            padding: 47px;
            .block5__block5-text{
                .block5-text__text{
                    h2{
                        line-height: 105%;
                        letter-spacing: -0.01em;
                    }
                    p{line-height: 140%;}
                }
            }
        }
    }
}

@media(max-width: 1024.9px) and (min-width: 769px) and (min-height: 725px){
    .block4{
        .container{
            align-items: start;
            row-gap: 50px;
        }
    }
}

@media(max-height: 724.9px), (max-width: 768.9px){
    .block4{
        background: linear-gradient(to bottom, rgb(5, 15, 32) 50%, rgb(243, 243, 245) 50%);
        .container{
            min-height: 200vh;
            .block4__left{
                grid-row: 1/2;
                z-index: unset;
            }
        }
    }
}

@media(max-height: 724.9px) and (orientation: landscape), (max-width: 768.9px) and (min-width: 540px){
    .block4{
        .container{
            .block4__left, .block4__right{
                padding: 0 20px 0 0;
                grid-column: 2/3;
                text-align: left;
                .ml-characteristics{margin-left: -5px;}
            }
        }
    }
}

@media
    (max-height: 539.9px) and (orientation: landscape),
    (max-width: 1000.9px) and (min-width: 769px) and (min-height: 725px) and (max-height: 1000.9px),
    (max-width: 350.9px){
    .block4{
        .container{
            .block4__left, .block4__right{
                .ml-name{font-size: 24px;}
                .ml-specification{
                    font-size: 12px;
                    margin: 13px 0;
                }
                .ml-characteristics{
                    div{
                        margin: 3px;
                        svg{
                            height: 15px;
                            margin-right: 7px;
                        }
                        p{font-size: 8px;}
                    }
                }
            }
        }
    }
}

@media(max-height: 539.9px) and (orientation: landscape){
    .block4{
        .container{
            .block4__left, .block4__right{
                .ml-characteristics{margin-left: -3px;}
            }
        }
    }
}

@media(max-height: 724.9px) and (orientation: landscape), (max-width: 768.9px) and (orientation: landscape){
    .block4{
        .container{
            .block4__left, .block4__right{
                .ml-characteristics{justify-content: flex-start;}
            }
        }
    }
}

@media(max-width: 768.9px) and (min-width: 321px){
    .block5{
        .container{
            padding: 30px calc(20px + (47 - 20) * ((100vw - 321px) / (768 - 321)));
            .block5__block5-text{
                .block5-text__text{
                    h2{font-size: calc(27px + (42 - 27) * ((100vw - 321px) / (768 - 321)));}
                }
            }
        }
    }
}

@media(orientation: portrait){
    .block2{
        .container{
            .block2__fixed-elem{width: 100%;}
        }
    }
    .block5{
        .container{
            align-items: center;
            .block5__block5-text{
                .block5-text__text2{margin-top: 50px;}
            }
            .block5__img{align-self: unset;}
        }
    }
}

@media(max-width: 768.9px) and (min-width: 321px) and (orientation: portrait){
    .block5{
        .container{
            .block5__block5-text{
                margin-top: calc(30px + (60 - 30) * ((100vw - 321px) / (768 - 321)));
            }
        }
    }
}

@media(max-width: 768.9px) and (orientation: portrait){
    .block4{
        .container{
            .block4__left, .block4__right{
                .ml-characteristics{
                    justify-content: unset;
                    flex-wrap: unset;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
    .block5{
        .container{
            flex-direction: column;
            justify-content: center;
            .block5__block5-text, .block5__img{flex: 0 1 auto;}
            .block5__block5-text{
                order: 2;
                .block5-text__text{
                    align-items: center;
                    text-align: center;
                }
                .block5-text__text2{
                    line-height: 140%;
                    text-align: center;
                    margin-top: 30px;
                }
            }
            .block5__img{
                width: 50%;
                max-width: 300px;
                transform: translateX(20.65%);
            }
        }
    }
}

@media(max-width: 768.9px), (max-height: 539.9px){
    .block5{
        .container{
            .block5__block5-text{
                .block5-text__text{
                    h2{letter-spacing: -0.02em;}
                    p{
                        font-size: 14px;
                        margin: 21px 0 25px 0;
                        max-width: 362px;
                    }
                    button{
                        width: 179px;
                        height: 45px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media(max-height: 539.9px) and (orientation: landscape){
    .block5{
        .container{
            .block5__block5-text{
                .block5-text__text{
                    h2{font-size: 32px;}
                }
            }
        }
    }
}

@media(max-width: 539.9px) and (orientation: portrait){
    .block4{
        .container{
            grid-template: 1fr 1fr / 1fr;
            .block4__left, .block4__right{
                .ml-characteristics{align-items: center;}
            }
        }
    }
}

@media(max-width: 320.9px){
    .block1{
        .container{
            p{font-size: 13px;}
            h1{font-size: 34px;}
        }
    }
    .block3{
        .container{
            p{font-size: 16px;}
        }
    }
    .block5{
        .container{
            padding: 30px 20px;
            .block5__block5-text{
                margin-top: 30px;
                .block5-text__text{
                    h2{font-size: 22px;}
                    p{
                        font-size: 12px;
                        margin: 11px 0 15px 0;
                    }
                }
                .block5-text__text2{font-size: 12px;}
            }
        }
    }
}

@media(min-aspect-ratio: 22/10) and (min-height: 725px){
    .block4{
        .container{
            .block4__left, .block4__right{
                .ml-specification{margin: 10px 0 15px 0;}
            }
        }
    }
}

@media(max-height: 350.9px){
    .block4{
        .container{
            .block4__left, .block4__right{
                .ml-name{font-size: 20px;}
                .ml-specification{
                    font-size: 10px;
                    margin: 10px 0;
                }
                .ml-characteristics{
                    div{
                        padding: 7px;
                        margin: 2px;
                        svg{display: none;}
                    }
                }
            }
        }
    }
}

@media(max-height: 350.9px) and (orientation: landscape){
    .block4{
        .container{
            .block4__left, .block4__right{
                .ml-characteristics{margin-left: -2px;}
            }
        }
    }
}

@media(max-height: 240.9px){
    .block4{
        .container{
            .block4__left, .block4__right{
                .ml-name{font-size: 12px;}
                .ml-specification{
                    font-size: 7px;
                    margin: 5px 0;
                }
                .ml-characteristics{
                    div{
                        padding: 3px;
                        margin: 1px;
                        p{font-size: 5px;}
                    }
                }
            }
        }
    }
    .block5{
        .container{
            .block5__block5-text{
                .block5-text__text{
                    h2{font-size: 14px;}
                    p{
                        font-size: 7px;
                        margin: 6px 0 10px 0;
                    }
                    button{
                        width: 89px;
                        height: 22px;
                        font-size: 7px;
                    }
                }
                .block5-text__text2{font-size: 7px;}
            }
        }
    }
}

@media(max-height: 240.9px) and (orientation: landscape){
    .block4{
        .container{
            .block4__left, .block4__right{
                .ml-characteristics{margin-left: -1px;}
            }
        }
    }
}

@media(max-height: 160.9px){
    .block1{
        .container{
            p{font-size: 12px;}
            h1{
                font-size: 21px;
                margin-top: 5px;
            }
        }
    }
}