@import "../Ritm_src/scss/CSS-reset.scss";
@import "../Ritm_src/scss/header-dark.scss";

.block1, .block2, .fixed-block, .block3, .block4, .block5, .block6{
    .container{
        min-height: 100vh;
        display: flex;
    }
}

.block1, .block2, .block3, .block4, .block5, .block6{
    .container{align-items: center;}
}

.block1, .block3, .block4, .block5, .block6{
    .container{
        .block__block-text{
            .block-text__text1{
                font-size: 14px;
                line-height: 130%;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            h3{
                font-family: "Inter-SemiBold";
                font-size: 64px;
                line-height: 110%;
                letter-spacing: -0.01em;
                margin: 10px 0 25px 0;
            }
            .block-text__text2{
                font-family: "Inter-Medium";
                color: rgb(224, 224, 224);
            }
        }
    }
}

.block1{
    .container{
        padding: 90px 200px;
        .block__block-text{
            h3{max-width: 1050px;}
            .block-text__text2{
                font-size: 22px;
                line-height: 160%;
                max-width: 570px;
            }
        }
    }
}

.block2{
    background-color: rgb(236, 238, 241);
    .container{
        padding: 95px 200px 90px 200px;
        flex-direction: column;
        justify-content: center;
        .block2__swiper{
            position: relative;
            width: 80.014%;
            .swiper{
                .swiper-wrapper{
                    .swiper-slide{
                        img{
                            width: 100%;
                            max-width: 1197px;
                        }
                    }
                }
            }
            .swiper-pagination{
                display: grid;
                grid-template: auto / repeat(6, auto);
                justify-content: center;
                column-gap: 20px;
                bottom: -70px;
                .swiper-pagination-bullet{
                    margin: 0;
                    width: 40px;
                    height: 40px;
                    background-color: rgb(5, 15, 32);
                }
            }
        }
        p{
            font-family: "Inter-Medium";
            font-size: 16px;
            line-height: 160%;
            text-align: center;
            color: rgb(37, 37, 37);
            margin-top: 97px;
            max-width: 600px;
        }
    }
}

.path{
    position: relative;
    .fixed-block{
        will-change: transform;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        .container{
            justify-content: flex-end;
            align-items: flex-end;
            .fixed-block__img-box{
                flex: 0 1 54%;
                position: relative;
                transform: translateX(26.8%);
                .img-box__bg2{display: none;}
                picture{
                    .img-box__bg{width: 100%;}
                    .img-box__bb, .img-box__block3-sw, .img-box__block4-sw, .img-box__block5-sw{
                        position: absolute;
                        left: 2.2%;
                        width: 95.58%;
                    }
                    .img-box__bb{top: 2.7%;}
                    .img-box__block3-sw, .img-box__block4-sw, .img-box__block5-sw{top: 6.3%;}
                    .img-box__block6-sw{
                        will-change: transform;
                        display: none;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 40%;
                    }
                }
            }
        }
    }
}

.blue{color: rgb(96, 199, 231);}

.fixed-block, .block3, .block4, .block5, .block6{
    .container{padding-left: 150px;}
}

.block3, .block4, .block5, .block6{
    .container{
        .block__block-text{
            flex: 0 1 46%;
            .block-text__text2{
                font-size: 18px;
                line-height: 140%;
            }
        }
    }
}

.block3, .block6{
    .container{
        .block__block-text{
            p:last-child{margin-top: 25px;}
        }
    }
}

.block4{
    .container{
        .block__block-text{
            h3{
                .blue{display: block;}
            }
        }
    }
}

.block5{
    .container{
        .block__block-text{max-width: 600px;}
    }
}

@media(max-width: 1895.9px) and (min-width: 321px){
    .block1, .block3, .block4, .block5, .block6{
        .container{
            .block__block-text{
                .block-text__text1{font-size: calc(12px + (14 - 12) * ((100vw - 321px) / (1895 - 321)));}
                h3{
                    font-size: calc(20px + (64 - 20) * ((100vw - 321px) / (1895 - 321)));
                    margin: 10px 0 calc(20px + (25 - 20) * ((100vw - 321px) / (1895 - 321))) 0;
                }
            }
        }
    }
    .block1{
        .container{
            padding: 90px calc(20px + (200 - 20) * ((100vw - 321px) / (1895 - 321)));
            .block__block-text{
                h3{max-width: calc(330px + (1050 - 330) * ((100vw - 321px) / (1895 - 321)));}
                .block-text__text2{
                    font-size: calc(14px + (22 - 14) * ((100vw - 321px) / (1895 - 321)));
                    max-width: calc(363px + (570 - 363) * ((100vw - 321px) / (1895 - 321)));
                }
            }
        }
    }
    .block2{
        .container{
            padding: calc(35px + (95 - 35) * ((100vw - 321px) / (1895 - 321)))
                     calc(20px + (200 - 20) * ((100vw - 321px) / (1895 - 321)))
                     calc(30px + (90 - 30) * ((100vw - 321px) / (1895 - 321)))
                     calc(20px + (200 - 20) * ((100vw - 321px) / (1895 - 321)));
            p{
                font-size: calc(14px + (16 - 14) * ((100vw - 321px) / (1895 - 321)));
                max-width: calc(525px + (600 - 525) * ((100vw - 321px) / (1895 - 321)));
            }
        }
    }
    .fixed-block, .block3, .block4, .block5, .block6{
        .container{padding-left: calc(20px + (150 - 20) * ((100vw - 321px) / (1895 - 321)));}
    }
    .block3, .block4, .block5, .block6{
        .container{
            .block__block-text{
                .block-text__text2{font-size: calc(14px + (18 - 14) * ((100vw - 321px) / (1895 - 321)));}
            }
        }
    }
    .block3, .block6{
        .container{
            .block__block-text{
                p:last-child{margin-top: calc(20px + (25 - 20) * ((100vw - 321px) / (1895 - 321)));}
            }
        }
    }
    .block5{
        .container{
            .block__block-text{max-width: calc(467px + (600 - 467) * ((100vw - 321px) / (1895 - 321)));}
        }
    }
}

@media(orientation: portrait), (max-width: 768.9px){
    .path{
        .fixed-block{
            .container{
                justify-content: center;
                .fixed-block__img-box{
                    transform: none;
                    .img-box__bg{position: relative;}
                    .img-box__bg2{
                        display: block;
                        position: absolute;
                        left: 2.2%;
                        width: 95.58%;
                        height: 61.5%;
                        top: 6%;
                        background-color: rgb(5, 15, 32);
                    }
                    picture{
                        .img-box__block6-sw{left: 50%;}
                    }
                }
            }
        }
    }
    .fixed-block, .block3, .block4, .block5, .block6{
        .container{padding-right: 150px;}
    }
    .block3, .block4, .block5, .block6{
        .container{
            align-items: flex-start;
            .block__block-text{flex: 0 1 auto;}
        }
    }
    .block4{
        .container{
            .block__block-text{
                h3{
                    .blue{display: unset;}
                }
            }
        }
    }
    .block5{
        .container{
            .block__block-text{max-width: unset;}
        }
    }
}

@media(max-width: 1895.9px) and (min-width: 769px) and (orientation: portrait), (max-width: 768.9px) and (min-width: 321px){
    .fixed-block, .block3, .block4, .block5, .block6{
        .container{padding-right: calc(20px + (150 - 20) * ((100vw - 321px) / (1895 - 321)));}
    }
}

@media(orientation: portrait) and (min-width: 769px){
    .block3, .block4, .block5, .block6{
        .container{padding-top: 150px;}
    }
}

@media(max-width: 768.9px){
    .block3, .block4, .block5, .block6{
        .container{padding-top: 90px;}
    }
}

@media(max-width: 768.9px) and (max-height: 350.9px) and (orientation: landscape){
    .block3, .block4, .block5, .block6{
        .container{padding-top: 75px;}
    }
}

@media(max-width: 768.9px) and (max-height: 539.9px){
    .path{
        .fixed-block{
            .container{
                .fixed-block__img-box{
                    picture{
                        .img-box__block6-sw{display: none;}
                    }
                }
            }
        }
    }
}

@media(max-aspect-ratio: 3/4) and (min-width: 769px), (max-aspect-ratio: 11/20) and (max-width: 768.9px){
    .path{
        .fixed-block{
            .container{
                .fixed-block__img-box{flex: 0 1 100%;}
            }
        }
    }
}

@media(orientation: landscape) and (max-width: 768.9px){
    .path{
        .fixed-block{
            .container{
                .fixed-block__img-box{flex: 0 1 30%;}
            }
        }
    }
}

@media(max-width: 1024.9px) and (orientation: portrait){
    .block2{
        .container{
            .block2__swiper{width: 100%;}
        }
    }
}

@media(max-width: 768.9px){
    .block1, .block3, .block4, .block5, .block6{
        .container{
            .block__block-text{
                .block-text__text1{letter-spacing: 0.08em;}
                h3{line-height: 120%;}
            }
        }
    }
}

@media(max-width: 480.9px){
    .block1, .block3, .block4, .block5, .block6{
        .container{
            .block__block-text{
                .block-text__text1{letter-spacing: 0.05em;}
                h3{line-height: 130%;}
            }
        }
    }
    .block2{
        .container{
            .block2__swiper{
                .swiper-pagination{
                    column-gap: 13px;
                    bottom: -50px;
                    .swiper-pagination-bullet{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            p{margin-top: 67px;}
        }
    }
}

@media(max-height: 539.9px), (max-width: 320.9px){
    .block3, .block4, .block5, .block6{
        .container{
            .block__block-text{
                .block-text__text1{font-size: 10px;}
                h3{
                    font-size: 24px;
                    margin: 10px 0 15px 0;
                }
                .block-text__text2{font-size: 12px;}
            }
        }
    }
    .block3, .block6{
        .container{
            .block__block-text{
                p:last-child{margin-top: 15px;}
            }
        }
    }
}

@media(max-width: 320.9px){
    .block1{
        .container{padding: 90px 20px;}
    }
    .fixed-block, .block3, .block4, .block5, .block6{
        .container{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .block1{
        .container{
            .block__block-text{
                .block-text__text1{font-size: 10px;}
                h3{margin: 10px 0 15px 0;}
                .block-text__text2{font-size: 12px;}
            }
        }
    }
    .block1, .block3, .block4, .block5, .block6{
        .container{
            .block__block-text{
                h3{font-size: 18px;}
            }
        }
    }
    .block2{
        .container{
            padding: 35px 20px 30px 20px;
            .block2__swiper{
                .swiper-pagination{
                    column-gap: 12px;
                    bottom: -40px;
                    .swiper-pagination-bullet{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            p{
                font-size: 14px;
                margin-top: 52px;
            }
        }
    }
}

@media(max-height: 280.9px){
    .block1{
        .container{
            padding-top: 75px;
            padding-bottom: 75px;
        }
    }
    .block2{
        .container{
            p{line-height: 150%;}
        }
    }
    .block1, .block3, .block4, .block5, .block6{
        .container{
            .block__block-text{
                .block-text__text1{font-size: 9px;}
                h3{
                    font-size: 18px;
                    margin: 10px 0;
                }
                .block-text__text2{font-size: 10px;}
            }
        }
    }
    .block3, .block6{
        .container{
            .block__block-text{
                p:last-child{margin-top: 10px;}
            }
        }
    }
}

@media(max-height: 240.9px){
    .block1{
        .container{padding-bottom: 68px;}
    }
    .block2{
        .container{
            p{
                font-size: 10px;
                line-height: 130%;
            }
        }
    }
    .block1, .block3, .block4, .block5, .block6{
        .container{
            padding-top: 68px;
            .block__block-text{
                .block-text__text1{font-size: 6px;}
                h3{
                    font-size: 10px;
                    margin: 5px 0;
                }
                .block-text__text2{font-size: 7px;}
            }
        }
    }
    .block3, .block6{
        .container{
            .block__block-text{
                p:last-child{margin-top: 5px;}
            }
        }
    }
}

@media(max-height: 160.9px){
    .block1{
        .container{
            padding-top: 63px;
            padding-bottom: 63px;
        }
    }
    .block3, .block4, .block5, .block6{
        .container{padding-top: 58px;}
    }
    .block1, .block3, .block4, .block5, .block6{
        .container{
            .block__block-text{
                .block-text__text1{font-size: 5px;}
                h3{
                    font-size: 9px;
                    margin: 4px 0;
                }
                .block-text__text2{font-size: 6px;}
            }
        }
    }
    .block3, .block6{
        .container{
            .block__block-text{
                p:last-child{margin-top: 4px;}
            }
        }
    }
}