@import "../Ritm_src/scss/CSS-reset.scss";
@import "../Ritm_src/scss/header-bright.scss";

.block1, .block6, .block8{height: 100vh;}

.changing-opacity{
    position: relative;
    z-index: 2;
}

.block1{
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 245);
    .container{
        h1{
            font-family: "Inter-Medium";
            font-size: 230px;
            letter-spacing: 0.03em;
            color: rgb(5, 15, 32);
            opacity: 0;
            animation: megaPageTitle 2s ease 0.3s forwards;
        }
        @keyframes megaPageTitle{
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
    }
}

.block2{
    height: 199.5vh;
    background-color: rgb(243, 243, 245);
    .container{
        max-width: unset;
        will-change: transform;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        p{
            font-family: "Inter-Medium";
            font-size: 55px;
            letter-spacing: 0.01em;
            transform: translateY(-5px);
        }
        .block2__minicase{color: rgb(5, 15, 32);}
        .block2__overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(5, 15, 32);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .block2__fixed-elem{
            will-change: transform;
            position: absolute;
            top: 100%;
            left: 50%;
            width: 33.914%;
            max-width: 643px;
            display: grid;
            grid-template: auto / auto;
            picture, .fixed-elem__mask{
                grid-row: 1/2;
                grid-column: 1/2;
            }
            .fixed-elem__main-img, .fixed-elem__lighting1, .fixed-elem__lighting2,
            .fixed-elem__component1, .fixed-elem__component2, .fixed-elem__component3, .fixed-elem__component4{
                width: 100%;
            }
            .fixed-elem__mask{background: linear-gradient(to bottom, transparent, rgb(5, 15, 32) 85%);}
        }
        @media(max-width: 768.9px) and (max-height: 480.9px){
            .block2__fixed-elem{
                .fixed-elem__component1, .fixed-elem__component2, .fixed-elem__component3, .fixed-elem__component4,
                .fixed-elem__lighting1, .fixed-elem__lighting2{
                    display: none;
                }
            }
        }
    }
}

.block3{
    .container{
        padding: 0 80px;
        display: grid;
        grid-template: 100vh auto / 1fr;
        .block3__text{
            margin: auto;
            text-align: center;
            h2{
                font-family: "Inter-SemiBold";
                font-size: 90px;
                margin-bottom: 30px;
                max-width: 1200px;
            }
            p{
                font-size: 22px;
                line-height: 130%;
                letter-spacing: 0.01em;
            }
        }
    }
}

.block5{
    display: grid;
    grid-template: repeat(3, minmax(100vh, max-content)) / 1fr;
    align-items: center;
    .container{
        padding: 0 98px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .advantage{
            flex: 0 1 31.353%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .advantage__title{
                font-family: "Inter-SemiBold";
                font-size: 30px;
                line-height: 110%;
            }
            .advantage__text{
                flex: 1 1 auto;
                margin: 15px 0 22px 0;
                line-height: 140%;
                color: rgb(218, 218, 218);
            }
            .advantage__icons{
                display: grid;
                grid-auto-flow: column;
                column-gap: 20px;
            }
        }
        .advantage8{
            position: relative;
            .advantage8__text{
                position: absolute;
                transform: translate(-50%, 100%);
                bottom: -22px;
                left: 50%;
                margin: 0;
                width: 100%;
            }
        }
    }
}

.block6, .block8{
    .container{
        height: 100%;
        display: grid;
        grid-template: 1fr auto / auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        h3{
            grid-row: 1/3;
            grid-column: 1/2;
            font-family: "Inter-SemiBold";
            font-size: 80px;
            line-height: 110%;
            letter-spacing: -0.01em;
            span{color: rgb(86, 204, 242);}
        }
        p{
            grid-row: 2/3;
            grid-column: 1/2;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: -0.01em;
            padding-bottom: 31px;
        }
    }
}

.block6{
    .container{
        h3{max-width: 1144px;}
    }
}

.block8{
    .container{
        h3{max-width: 1272px;}
    }
}

.block7{
    display: grid;
    grid-template: repeat(4, minmax(100vh, max-content)) / 1fr;
    .container{
        width: 100%;
        padding: 0 146px;
        display: grid;
        grid-template: 1fr auto / 1fr;
        align-items: center;
        .block7__block7-text{
            grid-row: 1/3;
            grid-column: 1/2;
            width: 48.192%;
            .block7-text__text1{
                font-size: 14px;
                line-height: 110%;
                letter-spacing: 0.1em;
                color:rgb(204, 205, 206);
            }
            .block7-text__text2{
                font-family: "Inter-SemiBold";
                font-size: 64px;
                line-height: 110%;
                letter-spacing: -0.01em;
                margin: 11px 0 25px 0;
                .blue{color: rgb(86, 204, 242);}
            }
            .block7-text__text3, .block7-text__text4{
                font-family: "Inter-Medium";
                font-size: 18px;
                line-height: 140%;
                letter-spacing: -0.01em;
            }
            .text3-wifi{margin-bottom: 30px;}
            .block7-text__text4{margin: 30px 0;}
            .block7-text__text5{
                display: flex;
                align-items: center;
                div{
                    margin-left: 12px;
                    .text5__choice1{
                        font-family: "Inter-Medium";
                        font-size: 18px;
                        line-height: 125%;
                        margin-bottom: 2px;
                    }
                    .text5__choice2{
                        font-size: 12px;
                        line-height: 125%;
                        color: rgb(190, 190, 190);
                    }
                }
            }
        }
        .block7__clarification{
            width: 48.192%;
            grid-row: 2/3;
            grid-column: 1/2;
            padding-bottom: 64px;
            font-size: 14px;
            line-height: 140%;
            opacity: 0.69;
        }
    }
    .block7__container4{
        .block7__block7-text{
            .block7-text__text3{max-width: 555px;}
        }
    }
}

.block9{
    position: relative;
    z-index: 1;
    background-color: rgb(234, 232, 236);
    padding-top: 105px;
    padding-bottom: 62px;
    .container{
        padding: 0 149px 0 189px;
        display: flex;
        justify-content: space-between;
        .block9__block9-text{
            margin-top: 97px;
            flex: 0 1 47.433%;
            .block9-text__text{
                margin-bottom: 11px;
                text-transform: uppercase;
                line-height: 110%;
                letter-spacing: 0.1em;
                color: rgb(54, 54, 54);
            }
            h4{
                font-family: "Inter-SemiBold";
                font-size: 70px;
                line-height: 110%;
                letter-spacing: -0.01em;
                color: rgb(5, 15, 32);
            }
            .block9-text__hint{
                display: flex;
                align-items: center;
                margin-top: 42px;
                .hint__sign{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 13px;
                    width: 53px;
                    height: 53px;
                    border: 1px solid rgb(96, 199, 231);
                    border-radius: 18px;
                    img{width: 41.464%;}
                }
                .hint__hint-text{
                    .hint-text__text1{
                        margin-bottom: 4px;
                        font-family: "Inter-Medium";
                        line-height: 125%;
                        color: black;
                    }
                    .hint-text__text2{
                        font-size: 14px;
                        line-height: 125%;
                        color: rgb(120, 120, 120);
                    }
                }
            }
        }
        .block9__block9-slider{
            flex: 0 1 44.801%;
            min-width: 0;
            position: relative;
            .swiper{
                width: 75.645%;
                max-width: 528px;
                .swiper-wrapper{
                    .swiper-slide{
                        text-align: center;
                        img{
                            width: 100%;
                            max-width: 528px;
                        }
                        .swiper-slide__name{
                            font-family: "Inter-SemiBold";
                            font-size: 30px;
                            line-height: 110%;
                            color: rgb(5, 15, 32);
                        }
                        .swiper-slide__model{
                            font-family: "Inter-SemiBold";
                            font-size: 14px;
                            line-height: 125%;
                            color: rgb(120, 120, 120);
                            margin-top: 9px;
                        }
                    }
                }
            }
            .swiper-button-prev, .swiper-button-next{
                &::after{display: none;}
                width: 53px;
                height: 53px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 18px;
                img{width: 21.41%;}
            }
            .swiper-button-prev{left: 0;}
            .swiper-button-next{
                transform: rotate(180deg);
                right: 0;
            }
        }
    }
}

.block10{
    background-color: rgb(234, 232, 236);
    padding: 140px 0 106px 0;
    .container{
        padding: 0 140px;
        h5{
            font-family: "Inter-SemiBold";
            font-size: 96px;
            letter-spacing: -0.01em;
            color: rgb(5, 15, 32);
            max-width: 1050px;
        }
        .block10__text{
            font-size: 22px;
            line-height: 170%;
            letter-spacing: -0.01em;
            color: rgb(79, 79, 79);
            margin: 35px 0 85px 0;
        }
        .block10__video{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            .video__horizontal-size, .video__vertical-size, .video__horizontal-size2, .video__vertical-size2{
                transition: opacity 0.8s ease, visibility 0.8s ease;
                p{
                    text-align: center;
                    font-size: 18px;
                    color: black;
                }
                div{
                    height: 1px;
                    width: 100%;
                    margin: 15px 0;
                    background-color: rgb(192, 192, 192);
                    position: relative;
                    &::before, &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                    }
                    &::before{
                        left: 0;
                        border-left: 5px solid rgb(192, 192, 192);
                    }
                    &::after{
                        right: 0;
                        border-right: 5px solid rgb(192, 192, 192);
                    }
                }
            }
            .video__vertical-size, .video__vertical-size2{
                position: absolute;
                top: 50%;
                right: 0;
                width: 30%;
                transform: rotate(90deg);
            }
            .video__horizontal-size, .video__horizontal-size2{width: 23%;}
            .video__horizontal-size{transform: translate(4%);}
            .video__horizontal-size2{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-46%);
            }
            .video__horizontal-size2, .video__vertical-size2{
                visibility: hidden;
                opacity: 0;
            }
            video{
                height: 70vh;
                max-height: 756px;
            }
            @media(max-aspect-ratio: 3/2){
                video{
                    height: auto;
                    max-height: unset;
                    width: 100%;
                }
            }
        }
    }
}

.block11{
    display: grid;
    grid-template: repeat(6, minmax(100vh, max-content)) / 1fr;
    .container{
        width: 100%;
        min-width: 0;
        padding: 0 146px 0 197px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .block11__block11-text{
            flex: 0 1 49.775%;
            .block11-text__text1{
                font-family: "Inter-SemiBold";
                font-size: 64px;
                line-height: 110%;
            }
            .block11-text__text2{
                margin-top: 25px;
                font-family: "Inter-Medium";
                font-size: 18px;
                line-height: 140%;
            }
        }
        .block11__block11-img{
            flex: 0 1 47.779%;
            .block11-img__img{width: 100%;}
        }
    }
    .block11__container1{
        .block11__block11-img{
            will-change: transform;
            display: grid;
            grid-template: auto / auto;
            picture, .block11-img__gradient1, .block11-img__gradient2{
                grid-row: 1/2;
                grid-column: 1/2;
            }
            .block11-img__lighting1, .block11-img__lighting2, .block11-img__lighting3{
                transform: translate3d(0, 0, 0);
                opacity: 0;
                transition: opacity 0.8s ease;
                width: 100%;
            }
            .block11-img__gradient1{background: linear-gradient(to top, transparent, rgb(5, 15, 32) 80%);}
            .block11-img__gradient2{background: linear-gradient(to bottom, transparent, rgb(5, 15, 32) 80%);}
        }
    }
    .block11__container1._visible{
        .block11__block11-img{
            .block11-img__lighting1{opacity: 1;}
        }
    }
    .block11__container4{
        .block11__block11-text{
            .block11-text__text1{width: min-content;}
        }
        .swiper{
            margin-right: unset;
            margin-left: unset;
            .swiper-wrapper{align-items: flex-end;}
            .block11-swiper-button-prev, .block11-swiper-button-next{
                z-index: 1;
                position: absolute;
                top: 54.5%;
                width: 53px;
                height: 53px;
                display: flex;
                justify-content: center;
                border: 1px solid #D2D2D2;
                border-radius: 18px;
                cursor: pointer;
                svg{width: 21.41%;}
            }
            .block11-swiper-button-next{
                transform: rotate(180deg);
                right: 0;
            }
            .swiper-button-disabled{
                opacity: 0.35;
                cursor: auto;
            }
        }
    }
    .block11__container6{
        .block11__block11-text{
            .block11-text__text1{
                span{color: rgb(86, 204, 242);}
            }
        }
        .block11__block11-img{
            position: relative;
            .block11-img__component1, .block11-img__component2{
                will-change: transform;
                position: absolute;
                top: 20.3%;
                left: 52.75%;
                z-index: 3;
            }
            .block11-img__component1{
                height: 21.76%;
                transform: translate3d(-100%, 0, 0);
            }
            .block11-img__component2{
                height: 23.5%;
                transform: translate3d(0, 0, 0);
            }
            @keyframes component1Transform{
                0%{transform: translate3d(-100%, 0, 0);}
                33%{transform: translate3d(-100%, 50%, 0);}
                66%{transform: translate3d(-16.7%, 50%, 0);}
                100%{transform: translate3d(-16.7%, 0, 0);}
            }
            @keyframes component2Transform{
                0%{transform: translate3d(0, 0, 0);}
                33%{transform: translate3d(0, -50%, 0);}
                66%{transform: translate3d(-120%, -50%, 0);}
                100%{transform: translate3d(-120%, 0, 0);}
            }
        }
    }
}

@media(max-width: 1895.9px) and (min-width: 321px){
    .block1{
        .container{
            h1{font-size: calc(38px + (230 - 38) * ((100vw - 321px) / (1895 - 321)));}
        }
    }
    .block2{
        .container{
            p{font-size: calc(27px + (55 - 27) * ((100vw - 321px) / (1895 - 321)));}
        }
    }
    .block3{
        .container{
            padding: 0 calc(20px + (80 - 20) * ((100vw - 321px) / (1895 - 321)));
            .block3__text{
                h2{
                    font-size: calc(26px + (90 - 26) * ((100vw - 321px) / (1895 - 321)));
                    margin-bottom: calc(15px + (30 - 15) * ((100vw - 321px) / (1895 - 321)));
                    max-width: calc(347px + (1200 - 347) * ((100vw - 321px) / (1895 - 321)));
                }
                p{font-size: calc(14px + (22 - 14) * ((100vw - 321px) / (1895 - 321)));}
            }
        }
    }
    .block5{
        .container{
            padding: 0 calc(20px + (98 - 20) * ((100vw - 321px) / (1895 - 321)));
            .advantage{
                .advantage__title{font-size: calc(20px + (30 - 20) * ((100vw - 321px) / (1895 - 321)));}
                .advantage__text{
                    font-size: calc(14px + (16 - 14) * ((100vw - 321px) / (1895 - 321)));
                    margin: 15px 0 calc(19px + (22 - 19) * ((100vw - 321px) / (1895 - 321))) 0;
                }
            }
            .advantage8{
                .advantage8__text{
                    bottom: calc(-19px + (-22 - (-19)) * ((100vw - 321px) / (1895 - 321)));
                    margin: 0;
                }
            }
        }
    }
    .block6, .block8{
        .container{
            padding: 0 calc(30px + (80 - 30) * ((100vw - 321px) / (1895 - 321)));
            h3{font-size: calc(26px + (80 - 26) * ((100vw - 321px) / (1895 - 321)));}
            p{
                font-size: calc(12px + (14 - 12) * ((100vw - 321px) / (1895 - 321)));
                padding-bottom: calc(25px + (31 - 25) * ((100vw - 321px) / (1895 - 321)));
            }
        }
    }
    .block6{
        .container{
            h3{max-width: calc(372px + (1144 - 372) * ((100vw - 321px) / (1895 - 321)));}
        }
    }
    .block8{
        .container{
            h3{max-width: calc(414px + (1272 - 414) * ((100vw - 321px) / (1895 - 321)));}
        }
    }
    .block7{
        .container{
            padding: 0 calc(20px + (146 - 20) * ((100vw - 321px) / (1895 - 321)));
            .block7__block7-text{
                .block7-text__text1{font-size: calc(12px + (14 - 12) * ((100vw - 321px) / (1895 - 321)));}
                .block7-text__text2{
                    font-size: calc(30px + (64 - 30) * ((100vw - 321px) / (1895 - 321)));
                    margin: calc(10px + (11 - 10) * ((100vw - 321px) / (1895 - 321))) 0
                            calc(15px + (25 - 15) * ((100vw - 321px) / (1895 - 321))) 0;
                }
                .block7-text__text3, .block7-text__text4{font-size: calc(15px + (18 - 15) * ((100vw - 321px) / (1895 - 321)));}
                .text3-wifi{margin-bottom: calc(8px + (30 - 8) * ((100vw - 321px) / (1895 - 321)));}
                .block7-text__text4{
                    margin: calc(0px + (30 - 0) * ((100vw - 321px) / (1895 - 321))) 0
                            calc(8px + (30 - 8) * ((100vw - 321px) / (1895 - 321))) 0;
                }
                .block7-text__text5{
                    div{
                        margin-left: calc(9px + (12 - 9) * ((100vw - 321px) / (1895 - 321)));
                        .text5__choice1{font-size: calc(12px + (18 - 12) * ((100vw - 321px) / (1895 - 321)));}
                    }
                }
            }
            .block7__clarification{
                padding-bottom: calc(20px + (64 - 20) * ((100vw - 321px) / (1895 - 321)));
                font-size: calc(10px + (14 - 10) * ((100vw - 321px) / (1895 - 321)));
            }
        }
    }
    .block10{
        padding: calc(60px + (140 - 60) * ((100vw - 321px) / (1895 - 321))) 0
                 calc(50px + (106 - 50) * ((100vw - 321px) / (1895 - 321))) 0;
        .container{
            padding: 0 calc(20px + (140 - 20) * ((100vw - 321px) / (1895 - 321)));
            h5{
                font-size: calc(32px + (96 - 32) * ((100vw - 321px) / (1895 - 321)));
                max-width: calc(350px + (1050 - 350) * ((100vw - 321px) / (1895 - 321)));
            }
            .block10__text{
                font-size: calc(14px + (22 - 14) * ((100vw - 321px) / (1895 - 321)));
                margin: calc(15px + (35 - 15) * ((100vw - 321px) / (1895 - 321))) 0 
                        calc(30px + (85 - 30) * ((100vw - 321px) / (1895 - 321))) 0;
            }
            .block10__video{
                .video__horizontal-size, .video__vertical-size, .video__horizontal-size2, .video__vertical-size2{
                    p{font-size: calc(14px + (18 - 14) * ((100vw - 321px) / (1895 - 321)));}
                    img{margin: calc(10px + (15 - 10) * ((100vw - 321px) / (1895 - 321))) 0;}
                }
            }
        }
    }
}

@media(max-width: 1895.9px) and (min-width: 769px){
    .block9{
        padding-bottom: calc(50px + (62 - 50) * ((100vw - 769px) / (1895 - 769)));
        .container{
            padding: 0 calc(46px + (149 - 46) * ((100vw - 769px) / (1895 - 769))) 
                     0 calc(56px + (189 - 56) * ((100vw - 769px) / (1895 - 769)));
            .block9__block9-text{
                margin-top: calc(28px + (97 - 28) * ((100vw - 769px) / (1895 - 769)));
                .block9-text__text{font-size: calc(10px + (16 - 10) * ((100vw - 769px) / (1895 - 769)));}
                h4{font-size: calc(42px + (70 - 42) * ((100vw - 769px) / (1895 - 769)));}
                .block9-text__hint{
                    margin-top: calc(27px + (42 - 27) * ((100vw - 769px) / (1895 - 769)));
                    .hint__sign{
                        width: calc(41px + (53 - 41) * ((100vw - 769px) / (1895 - 769)));
                        height: calc(41px + (53 - 41) * ((100vw - 769px) / (1895 - 769)));
                        border-radius: calc(12px + (18 - 12) * ((100vw - 769px) / (1895 - 769)));
                    }
                    .hint__hint-text{
                        .hint-text__text1{
                            margin-bottom: calc(2px + (4 - 2) * ((100vw - 769px) / (1895 - 769)));
                            font-size: calc(14px + (16 - 14) * ((100vw - 769px) / (1895 - 769)));
                        }
                        .hint-text__text2{font-size: calc(12px + (14 - 12) * ((100vw - 769px) / (1895 - 769)));}
                    }
                }
            }
            .block9__block9-slider{
                .swiper-button-prev, .swiper-button-next{
                    width: calc(41px + (53 - 41) * ((100vw - 769px) / (1895 - 769)));
                    height: calc(41px + (53 - 41) * ((100vw - 769px) / (1895 - 769)));
                    border-radius: calc(12px + (18 - 12) * ((100vw - 769px) / (1895 - 769)));
                }
                .swiper{
                    .swiper-wrapper{
                        .swiper-slide{
                            .swiper-slide__name{font-size: calc(20px + (30 - 20) * ((100vw - 769px) / (1895 - 769)));}
                            .swiper-slide__model{font-size: calc(12px + (14 - 12) * ((100vw - 769px) / (1895 - 769)));}
                        }
                    }
                }
            }
        }
    }
    .block11{
        .container{
            padding: 0 calc(46px + (146 - 46) * ((100vw - 769px) / (1895 - 769)))
                     0 calc(46px + (197 - 46) * ((100vw - 769px) / (1895 - 769)));
            .block11__block11-text{
                .block11-text__text1{font-size: calc(38px + (64 - 38) * ((100vw - 769px) / (1895 - 769)));}
                .block11-text__text2{
                    margin-top: calc(15px + (25 - 15) * ((100vw - 769px) / (1895 - 769)));
                    font-size: calc(14px + (18 - 14) * ((100vw - 769px) / (1895 - 769)));
                }
            }
        }
        .block11__container4{
            .swiper{
                .block11-swiper-button-prev, .block11-swiper-button-next{
                    width: calc(41px + (53 - 41) * ((100vw - 769px) / (1895 - 769)));
                    height: calc(41px + (53 - 41) * ((100vw - 769px) / (1895 - 769)));
                    border-radius: calc(12px + (18 - 12) * ((100vw - 769px) / (1895 - 769)));
                }
            }
        }
    }
}

@media(max-width: 768.9px) and (min-width: 321px){
    .block9{
        padding-bottom: calc(30px + (50 - 30) * ((100vw - 321px) / (768 - 321)));
        .container{padding: 0 calc(20px + (65 - 20) * ((100vw - 321px) / (768 - 321)));}
    }
    .block11{
        .container{
            padding: 0 calc(24px + (88 - 24) * ((100vw - 321px) / (768 - 321)))
                     0 calc(24px + (88 - 24) * ((100vw - 321px) / (768 - 321)));
            .block11__block11-text{
                .block11-text__text1{font-size: calc(24px + (42 - 24) * ((100vw - 321px) / (768 - 321)));}
            }
        }
    }
}

@media(max-width: 1342.9px){
    .block9{padding-top: 95px;}
}

@media(max-width: 1024.9px){
    .block5{
        .container{
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            justify-content: center;
            .advantage{
                flex: 0 1 auto;
                max-width: 350px;
                margin: 23px 0;
            }
            .advantage1{margin-top: 46px;}
            .advantage9{margin-bottom: 46px;}
            .advantage8{
                position: unset;
                .advantage8__text{
                    position: unset;
                    bottom: unset;
                    left: unset;
                    transform: none;
                }
            }
        }
    }
    .block7{
        .container{
            .block7__block7-text{
                .block7-text__text1{letter-spacing: 0.05em;}
                .block7-text__text2{
                    line-height: 105%;
                    letter-spacing: -0.02em;
                }
            }
            .block7__clarification{
                line-height: 125%;
                opacity: 1;
            }
        }
    }
    .block9{
        padding-top: 113px;
        .container{
            .block9__block9-text{flex: 0 1 43%;}
            .block9__block9-slider{flex: 0 1 57%;}
        }
    }
}

@media(max-width: 1024.9px) and (min-width: 321px){
    .block5{
        .container{
            .advantage{
                .advantage__text{
                    margin: 15px 0 calc(19px + (21 - 19) * ((100vw - 321px) / (1024 - 321))) 0;
                }
            }
            .advantage8{
                .advantage8__text{
                    margin: calc(19px + (21 - 19) * ((100vw - 321px) / (1024 - 321))) 0 0 0;
                }
            }
        }
    }
}

@media(max-width: 768.9px){
    .block2{
        .container{
            .block2__fixed-elem{
                width: 94%;
                max-width: unset;
            }
        }
    }
    .block3{
        .container{
            .block3__text{
                h2, p{line-height: 110%;}
            }
        }
    }
    .block7{
        .container{
            .block7__block7-text, .block7__clarification{width: 100%;}
            .block7__clarification{text-align: center;}
        }
    }
    .block9{
        padding-top: 90px;
        .container{
            display: block;
            .block9__block9-text{
                margin-top: 0;
                .block9-text__text{
                    margin-bottom: 10px;
                    font-size: 12px;
                    letter-spacing: 0.05em;
                }
                h4{font-size: 42px;}
                .block9-text__hint{
                    margin-top: 27px;
                    .hint__sign{
                        width: 41px;
                        height: 41px;
                        border-radius: 12px;
                    }
                    .hint__hint-text{
                        .hint-text__text1{
                            margin-bottom: 2px;
                            font-size: 13px;
                        }
                        .hint-text__text2{
                            font-size: 12px;
                            span{display: none;}
                        }
                    }
                }
            }
            .block9__block9-slider{
                .swiper{
                    .swiper-wrapper{
                        .swiper-slide{
                            .swiper-slide__name{font-size: 20px;}
                            .swiper-slide__model{
                                font-size: 12px;
                                margin-top: 5px;
                            }
                        }
                    }
                }
                .swiper-button-prev, .swiper-button-next{
                    width: 41px;
                    height: 41px;
                    border-radius: 12px;
                }
            }
        }
    }
    .block11{
        .container{
            .block11__block11-text{
                .block11-text__text2{
                    margin-top: 15px;
                    font-size: 14px;
                }
            }
        }
        .block11__container4{
            .swiper{
                .block11-swiper-button-prev, .block11-swiper-button-next{
                    width: 41px;
                    height: 41px;
                    border-radius: 12px;
                }
            }
        }
    }
}

@media(max-width: 768.9px) and (orientation: 'portrait'){
    .block9{
        .container{
            .block9__block9-slider{
                .swiper{width: 100%;}
                .swiper-button-prev, .swiper-button-next{
                    top: auto;
                    bottom: 0;
                }
            }
        }
    }
    .block11{
        .container{
            display: grid;
            grid-template: 1fr auto / auto;
            .block11__block11-text{
                text-align: center;
                align-self: end;
            }
        }
        .block11__container2, .block11__container3{
            grid-template: auto auto / auto;
            .block11__block11-text{align-self: center;}
        }
    }
}

@media(max-width: 768.9px) and (max-aspect-ratio: 3/5){
    .block11{
        .block11__container3{
            .block11__block11-text{transform: translateY(50%);}
        }
    }
}

@media(max-width: 768.9px) and (max-aspect-ratio: 1/2){
    .block11{
        .block11__container3{
            .block11__block11-text{transform: translateY(80%);}
        }
    }
}

@media(max-width: 768.9px) and (orientation: 'landscape'){
    .block9{
        .container{
            .block9__block9-slider{
                margin-top: 7px;
                .swiper{width: 25%;}
            }
        }
    }
}

@media(max-width: 768.9px), (max-height: 480.9px){
    .block11{
        .block11__container4{
            .block11__block11-text{
                .block11-text__text1{width: unset;}
            }
        }
    }
}

@media(max-width: 768.9px) and (orientation: 'landscape'), (max-height: 480.9px), (max-width: 320.9px){
    .block11{
        .container{
            .block11__block11-text{
                .block11-text__text1{font-size: 24px;}
            }
        }
        .block11__container4{
            .swiper{
                .block11-swiper-button-prev, .block11-swiper-button-next{
                    width: 26px;
                    height: 26px;
                    border-radius: 8px;
                }
            }
        }
    }
}

@media(max-width: 768.9px) and (orientation: 'landscape'), (max-height: 480.9px){
    .block11{
        .container{
            .block11__block11-text{flex: 0 1 60%;}
            .block11__block11-img{flex: 0 1 35%;}
        }
    }
}

@media(max-height: 480.9px) and (orientation: 'portrait'){
    .block11{
        .container{
            .block11__block11-text{
                .block11-text__text2{font-size: 12px;}
            }
            .block11__block11-img{
                width: 80%;
                margin: auto;
            }
        }
    }
}

@media(max-width: 768.9px), (max-height: 600.9px){
    .block7{
        .container{
            display: block;
            .block7__block7-text{margin-top: 50px;}
            .block7__clarification{margin-top: 30px;}
        }
    }
}

@media(min-aspect-ratio: 3/2) and (min-width: 769px){
    .block7{
        .block7__container1{
            .block7__block7-text, .block7__clarification{width: 53%;}
        }
    }
    .block7{
        .block7__container3{
            .block7__block7-text, .block7__clarification{width: 55%;}
        }
    }
}

@media(min-aspect-ratio: 3/2) and (min-width: 769px) and (max-width: 1600.9px){
    .block7{
        .block7__container2{
            .block7__block7-text, .block7__clarification{width: 55%;}
        }
    }
}

@media(orientation: 'portrait') and (min-width: 769px){
    .block7{
        .block7__container1, .block7__container2, .block7__container3{
            .block7__block7-text, .block7__clarification{width: 52%;}
        }
    }
}

@media(max-width: 320.9px){
    .block1{
        .container{
            h1{font-size: 38px;}
        }
    }
    .block2{
        .container{
            p{font-size: 27px;}
        }
    }
    .block3{
        .container{
            padding: 0 20px;
            .block3__text{
                h2{
                    font-size: 26px;
                    margin-bottom: 15px;
                    max-width: unset;
                }
                p{font-size: 14px;}
            }
        }
    }
    .block5{
        .container{
            padding: 0 20px;
            .advantage{
                .advantage__title{font-size: 20px;}
                .advantage__text{
                    font-size: 14px;
                    margin: 15px 0 19px 0;
                }
            }
            .advantage8{
                .advantage8__text{margin: 19px 0 0 0;}
            }
        }
    }
    .block6, .block8{
        .container{
            padding: 0 30px;
            h3{
                font-size: 26px;
                max-width: unset;
            }
            p{
                font-size: 12px;
                padding-bottom: 25px;
            }
        }
    }
    .block7{
        .container{
            padding: 0 20px;
            .block7__block7-text{
                .block7-text__text1{font-size: 12px;}
                .block7-text__text2{
                    font-size: 30px;
                    margin: 10px 0 15px 0;
                }
                .block7-text__text3, .block7-text__text4{font-size: 15px;}
                .text3-wifi{margin-bottom: 8px;}
                .block7-text__text4{margin: 0 0 8px 0;}
                .block7-text__text5{
                    div{
                        margin-left: 9px;
                        .text5__choice1{font-size: 12px;}
                    }
                }
            }
            .block7__clarification{
                padding-bottom: 20px;
                font-size: 10px;
            }
        }
    }
    .block9{
        padding-bottom: 30px;
        .container{
            padding: 0 20px;
            .block9__block9-text{
                h4{font-size: 38px;}
            }
            .block9__block9-slider{
                .swiper{
                    .swiper-wrapper{
                        .swiper-slide{
                            .swiper-slide__model{
                                max-width: 160px;
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    .block10{
        padding: 60px 0 50px 0;
        .container{
            padding: 0 20px;
            h5{
                font-size: 32px;
                max-width: unset;
            }
            .block10__text{
                font-size: 14px;
                margin: 15px 0 30px 0;
            }
            .block10__video{
                .video__horizontal-size, .video__vertical-size, .video__horizontal-size2, .video__vertical-size2{
                    p{font-size: 14px;}
                    img{margin: 10px 0;}
                }
            }
        }
    }
    .block11{
        .container{padding: 0 24px;}
    }
}

@media(max-height: 240.9px){
    .block1{
        .container{
            h1{font-size: 26px;}
        }
    }
    .block2{
        .container{
            p{font-size: 18px;}
        }
    }
    .block3{
        .container{
            .block3__text{
                h2{font-size: 18px;}
                p{font-size: 10px;}
            }
        }
    }
    .block5{
        .container{
            .advantage{
                .advantage__title{font-size: 16px;}
                .advantage__text{font-size: 10px;}
            }
        }
    }
    .block6, .block8{
        .container{
            h3{font-size: 18px;}
            p{font-size: 8px;}
        }
    }
    .block7{
        .container{
            .block7__block7-text{
                .block7-text__text1{font-size: 8px;}
                .block7-text__text2{font-size: 20px;}
                .block7-text__text3, .block7-text__text4{font-size: 10px;}
                .block7-text__text5{
                    div{
                        .text5__choice1{font-size: 8px;}
                    }
                }
            }
            .block7__clarification{font-size: 8px;}
        }
    }
    .block9{
        .container{
            .block9__block9-text{
                h4{font-size: 26px;}
            }
        }
    }
    .block10{
        .container{
            h5{font-size: 22px;}
            .block10__text{font-size: 10px;}
            .block10__video{
                .video__horizontal-size, .video__vertical-size, .video__horizontal-size2, .video__vertical-size2{
                    p{font-size: 10px;}
                }
            }
        }
    }
    .block11{
        .container{
            .block11__block11-text{
                .block11-text__text1{font-size: 16px;}
                .block11-text__text2{font-size: 8px;}
            }
        }
    }
}