.form-block{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 75px 0;
    .form-block__form-box{
        width: 361px;
        padding: 20px 30px 30px 30px;
        background-color: rgba(243, 243, 245, 1);
        border: 2px solid rgb(5, 15, 32);
        border-radius: 10px;
        .form-box__form-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-family: "Inter-SemiBold";
                font-size: 24px;
                line-height: 110%;
                letter-spacing: -0.01em;
                color: rgb(5, 15, 32);
            }
            .form-title__cross{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                overflow: hidden;
                background-color: black;
                cursor: pointer;
            }
        }
        form{
            font-size: 12px;
            letter-spacing: -0.01em;
            color: rgb(5, 15, 32);
            .form__input-label{margin: 15px 0 5px 0;}
            input{
                height: 45px;
                width: 100%;
                padding: 0 15px;
                border: 1px solid rgba(0, 0, 0, 0.19);
                background-color: transparent;
                border-radius: 3px;
            }
            .form__button{
                display: block;
                height: 48px;
                width: 100%;
                margin-top: 35px;
                color: white;
                background-color: black;
                border-radius: 5px;
                font-family: "Inter-Medium";
                font-size: 15px;
                letter-spacing: -0.01em;
            }
        }
    }
}

@media(max-height: 650.9px){
    .form-block{align-items: flex-start;}
}

@media(max-width: 1342.9px){
    .form-block{padding: 65px 0;}
}

@media(max-width: 1024.9px){
    .form-block{padding: 83px 0;}
}

@media(max-width: 768.9px){
    .form-block{padding: 60px 0;}
}